* {
    color: rgb(36, 36, 36)
}

button {
    padding: 10px 40px;
    border-radius: 10px;
}

main {
    border: 1px solid #
    width: 80%;
    margin: 40 auto;
}

textarea {
    resize: none;
}

header {
    color: gray;
}

.nome-mail {
    padding: 20px;
}

.textarea {
    padding: 20px;
}

.dates {
    padding-bottom: 20px;
}